/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------EXPLORE PROBLEMS PAGE--------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */




/* -------------------START PROBLEMS AREA-------------------- */

.welcome-problems .badge {
    margin: 1%;
    width: fit-content;
    font-size: small;
    font-weight: 400;
    color: rgb(10, 27, 62);
    padding: 5px;
    text-align: center;
    border-radius: 5rem;
    background-color: rgb(239, 242, 248);
}

.problem-stmnt {
    font-size: small;
}

.info-of-probs {
    font-size: medium;
}

/* -------------------END PROBLEMS AREA-------------------- */



/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------EXPLORE PROBLEMS PAGE--------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */
