/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------PROCESS PAGE---------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */




.process-area .title-badge {
    color: rgb(157, 54, 54);
    background-color: rgb(250, 215, 215);
}

.process-area .how_we_work {
    padding: 1rem 0rem;
}

.lifecycle-area {
    padding-bottom: 40px;   
}

.lifecycle-area .services-title {
    padding: 4rem 14rem;
}

.lifecycle-area .purpose {
    background: rgba(248, 252, 253, 0.973);
}

.lifecycle-area .process_1 {
    background: #f9df8d;
}

.lifecycle-area .process_2 {
    background: #a8cabc;
}

.lifecycle-area .process_3 {
    background: #f9a5a4;
}

.lifecycle-area .process_4 {
    background: #fbb489;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------PROCESS PAGE---------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */
